---
index: $~
title: index page
layout: default
description: front matter for a bibtex viewer 
---

<div class='container-fluid'>
    <div class='infobox listheader no_selection bibs'>bibs (expanded)</div>
        <ul class='bibs entries'>
        <li class='bibs filler'>bib items hidden</li>
        {% for post in site.posts %}
            {% if post.categories[0] contains "bibs" %}
                <li class='bibs entry'>
                    <div class='entry-date'>
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                    </div><div class='entry-title'>
                    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                    </div>
                    {{ post.description }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>


<script>
var bibson=true;
$('.bibs.listheader').click(function() {
    if (bibson) {
        $('.bibs.entry').css('display', 'none');
        $('.bibs.filler').css('display', 'initial')
        bibson = false;
        $('.bibs.listheader').html("bibs (collapsed)");
    }
    else {
        $('.bibs.entry').css('display', 'inherit');
        $('.bibs.filler').css('display', 'none');
        bibson = true;
        $('.bibs.listheader').html("bibs (expanded)");
    }
});
</script>
