<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8">
<link rel="stylesheet" href="{{ site.baseurl }}/static/bootstrap.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/static/font-awesome.css" />
<link rel='stylesheet' type='text/css' href='{{ site.baseurl}}/static/default.css'>
<script src="{{ site.baseurl }}/static/jquery-2.2.0.js"></script>
<script src="{{ site.baseurl }}/static/list.js"></script>
<title>bib.cloud</title>
</head>
<body>
<div style='min-height: 100%; position: relative; padding: 0 0 100px 0;'>

    <!-- HEADER -->
    <header>
      <div class="container" id='title'>bib.cloud.
      </div>
    </header>

    <div id='menu'><div class='btn-container'>
        <a href="/" id='home' class='btn'>home</a>
        <a href='http://github.com/braingineer/bibcloud' id='github' class='btn'>github</a>
    </div></div>

<!-- BODY -->

    <div id='content'>
            <blockquote class='card'>
            <h3 class='title'>
            <span style='font-size: 100%'>Title:</span> {{page.title}}
            </h3>
            <p class='description'>Description: {{page.description}}
            </p>
            </blockquote>

    {{ content }}
    </div>

<!-- footer -->

<div id='tagline'>made by brian mcmahan</div>

</div>
<script>
doit()
</script>
</body>
</html>
